{% extends 'Forms/base.html' %}

{% block title %}
Advisor Management
{% endblock title %}

{% block content %}

<div class="card-body">
  <h1>Advisor Management Form</h1>
  <table id="datatablesSimple">
    <thead>
      <tr>
        <th>Student Id</th>
        <th>Instructor Id</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>

      {% for sdata in FormData%}
      <tr>
        <th>{{sdata.s_id}}</th>
        <th>{{sdata.i_id}} </th>
        
        <td>
          <div class='btn-group'>
            
            <a href="/deleteAdvisor/{{sdata.s_id}}" class='btn btn-sm btn-secondary' data-toggle='tooltip'
              title='Delete' onclick="return confirm('Are you sure you want to delete this?')">
              <i class='fa fa-trash'></i>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<div class="card-body">
  <h4>Insert New Entry</h4>
  <form class="js-validation-bootstrap" action="/Advisor/" method="POST">
    {% csrf_token%}
    <div class="form-group row">
      <label class="col-lg-4 col-form-label" for="s_id">Student id</label>
      <div class="col-lg-8">
        <select name="s_id" id="s_id">
          {% for sdata in OptionData1%}
          <option value="{{sdata}}">{{sdata}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label class="col-lg-4 col-form-label" for="i_id">Instructor Id</label>
      <div class="col-lg-8">
        <select name="i_id" id="i_id">
          {% for sdata in OptionData2%}
          <option value="{{sdata}}">{{sdata}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
   
    <div class="d-grid gap-2 d-md-block" style="display: flex; justify-content:space-between">
      <button type="submit" class="btn btn-success" style="margin: 0.3rem;"><i
          class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
      <br>
    </div>
  </form>
</div>

{%endblock%}